parameters:
    level: 6
    phpVersion: 80500
    paths:
        - src

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Cannot cast mixed to string.#'
